---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="px-16 py-10 min-h-screen bg-umbra text-white">
    <div>
      <h1 class="text-4xl">JS IZMIR</h1>
    </div>
  </main>
</Layout>
